<section class="section-padding dl-special text-center">
  <div style=" box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);padding: 50px;">
    <div class="container">
      <div class="wrapper">
        <div class="dl">
          <img src="/assets/images/logo.png">
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="color1black">WHY  EVERYONE  <span class="love"style="padding: 10px;"><img src="/assets/images/love.png"></span>THIS ?</h2>
          </div>
        </div>
      </div>
      <div class="row whydltSpl">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/the-best-trainers.png" alt="The Best Trainers" title="The Best Trainers">
          <h4 style="color:#00ae62;">The Best Trainers</h4>
          <p>Real developers are our trainers! our trainers spend half of their time on products at our innovation center.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/online-classes1.png" alt="Online Classes" title="Online Classes"  height="60px" width="60px;">
          <h4 style="color:#1b80c3">Class Room & Online</h4>
          <p>Our online experience is as good as our in class experience. Our programs offer end to personal interaction with
            students.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/we-are-commited1.png" alt="We are Committed" title="We Are Committed">
          <h4 style="color:#f4c714">We are Committed</h4>
          <p>We consider your success to be ours. Your achivement is our commitment. We teach until you learn.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/really-affordable1.png" alt="Really Affordable"title="Really Affordable">
          <h4 style="color:#da3538">Really Affordable</h4>
          <p>We believe in a collaborative, cool and learn friendly environment. Our promise, is to provide all this for no additional
            charge. </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="color1black">How are we Different</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
           
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
            <figure class="figure">
              <img src="../../../assets/images/1-1-interaction1.png" alt="one to one interaction" title="One To One Interaction" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">1 to 1 Interaction</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
              
            <figure class="figure">
              <img src="../../../assets/images/trainers1.png" alt="Trainers 150+" title="Trainers" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Trainers 150+</figcaption>
            </figure>
            
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom ">
           
            <figure class="figure">
              <img src="../../../assets/images/24-7-support.png" alt="24/7 Support" title="24/7 Support" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">24/7 Support</figcaption>
            </figure>
           
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/international-standards1.png" alt="International Standards" title="International Standards" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">International Standards</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/corporate-environment1.png" alt="Corporate Environment" title="Corporate Environment" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Corporate Environment</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 ">
            <figure class="figure">
              <img src="../../../assets/images/great-tech-infrastructure1.png" alt="Great Tech Infrastructure" title="Great Tech Infrastructure" class="how-are-we-different-images" title="Great IT Technologies">
              <figcaption class="figure-caption font-padding color1black">Great Tech Infrastructure</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>